# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# Graphics Interchange Format
*.gif

# Portable Network Graphics
*.png

# Scalable Vector Graphics
*.svg

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*


# Adobe
*.psd
*.ai
*.rar
material de apoyo/
logo/
